---
layout: base.njk
title: GloFAS Anadyr
---

<div class="map-container">
  <h1>Anadyr River Basin Streamflow</h1>
  <div id="map"></div>
</div>

{% block scripts %}
<script src="https://unpkg.com/maplibre-gl@4.0.0/dist/maplibre-gl.js"></script>
<script src="/assets/js/map.js"></script>
{% endblock %}
